Repository hamrouniraed07/Devops_Tp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_push_server, build_push_client

build_push_server:
  stage: build_push
  script:
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_TOKEN"
  - docker build -t "$IMAGE_SERVER:$CI_COMMIT_SHORT_SHA" server
  - docker push "$IMAGE_SERVER:$CI_COMMIT_SHORT_SHA"

build_push_client:
  stage: build_push
  script:
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_TOKEN"
  - docker build -t "$IMAGE_CLIENT:$CI_COMMIT_SHORT_SHA" client
  - docker push "$IMAGE_CLIENT:$CI_COMMIT_SHORT_SHA"

updated charts
  mern-charts/client/Chart.yaml
  mern-charts/mongodb/Chart.yaml
  mern-charts/server/Chart.yaml
Due: none

another commit
  .gitignore
  Compose_build.png
  Compose_down.png
  README.md
  build_mern_client.png
  compose_mern_server.png
  docker-compose.yml
  server/.env
  server/Dockerfile
  server/db/conn.js
  server/package-lock.json
  server/package.json
  server/routes/record.js
  server/server.js
Due: build_push_server

another commit
  client/.env
  client/.gitignore
  client/Dockerfile
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.js
  client/src/components/create.js
  client/src/components/edit.js
  client/src/components/navbar.js
  client/src/components/recordList.js
  client/src/index.js
Due: build_push_client

another commit
  App_running.png
  README.md
Due: none

another commit
  README.md
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Due: build_push_server, build_push_client

another commit
  README.md
Due: none

Add Jenkinsfile for CI/CD
  Jenkinsfile
Due: none

Add Github CI configuration
  github-ci.yml
Due: none

trivey scan
  trivy_report.json
Due: none

trivey scan
  trivy_report.txt
Due: none

trivey scan
  Lancer Jenkins.png
  README.md
Due: none

Path conditions:
  build_push_server: any of: server/**/*
  build_push_client: any of: client/**/*
